<div ng-if="selected == 'All Countries' && !clicked " class="country-lst" ng-repeat="c in byCountry track by c.key">
    <div ng-click="collapsed = !collapsed" class="country-head">
        <div class="country-ttl">{{c.key}}</div>
        <div ng-class="{'fa-chevron-down':collapsed, 'fa-chevron-right':!collapsed}" class="country-collapse fa pull-right"></div>
    </div>
    <div class="table-head row" ng-if="collapsed">
        <div class="cell col-md-6">City</div>
        <div class="cell col-md-6">Type</div>
    </div>
    <div ng-class="{'opaque':crime && crime.Crime_ID != v.Crime_ID}" ng-if="collapsed" class="row" ng-repeat="v in c.value track by v.Crime_ID">
        <span ng-click="toggleModal(v.Link)" class="crime-link fa fa-link"></span>
        <div ng-click="setCrime(v)" class="cell col-md-6">{{v['Event_city']}}</div>
        <div ng-click="setCrime(v)" class="cell col-md-6">{{ v['Event_type'].replace(';',', ').replace('Shooting','Non-deadly shooting').replace('Homicide','Deadly shooting') }}</div>
    </div>
    <div class="sep"></div>
</div>
<div ng-if="selected != 'All Countries' || (clicked && c.value.length)" class="country-lst" ng-repeat="c in byCountry track by c.key">
    <div ng-click="collapsed = !collapsed" class="country-head">
        <div class="country-ttl">{{c.key}}</div>
        <div ng-class="{'fa-chevron-down':collapsed, 'fa-chevron-right':!collapsed}" class="country-collapse fa pull-right"></div>
    </div>
        <div class="table-head row" ng-if="!collapsed">
        <div class="cell col-md-6">City</div>
        <div class="cell col-md-6">Type</div>
    </div>
    <div ng-class="{'opaque':crime && crime.Crime_ID != v.Crime_ID}" ng-if="!collapsed" class="row" ng-repeat="v in c.value track by v.Crime_ID">
        <span ng-click="toggleModal(v.Link)" class="crime-link fa fa-link"></span>
        <div ng-click="setCrime(v)" class="cell col-md-6">{{v['Event_city']}}</div>
        <div ng-click="setCrime(v)" class="cell col-md-6">{{ v['Event_type'].replace(';',', ').replace('Shooting','Non-lethal shooting').replace('Homicide','Lethal shooting }}</div>
    </div>
    <div class="sep"></div>
</div>
